@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
.has-scrollbar {
  will-change: scroll-position;
  scroll-behavior: smooth;
  overflow: hidden overlay;
  &::-webkit-scrollbar {
    width: 4px;
    visibility: hidden;
  }
  &:hover::-webkit-scrollbar {
    width: 4px;
    visibility: visible;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #b7b7a4;
  }
}
.react-responsive-modal-modal {
  border-radius: 6px;
}
.react-loading-skeleton {
  display: inline-block !important;
  &::after {
    background: #dad7cd !important;
  }
}
.Mui-selected {
  background-color: #ccccccc2 !important;
}
.slider-home-client {
  .slider {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  .slide__content {
    &::after {
      position: absolute;
      content: "";
      width: 5.5rem;
      height: 0.1rem;
      background: #fff;
      left: 0;
      top: 50%;
      -webkit-transform: translatey(-50%);
      transform: translatey(-50%);
    }
  }
}
.section-title {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin-top: 80px;
  color: #555;
  text-transform: uppercase;
}
.wrapper-layout {
  max-width: 1200px;
  margin: auto;
}

.btn-increase,
.btn-decrease {
  line-height: 0;
  font-weight: 300;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(228, 228, 228);
  cursor: pointer;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: all 0.4s ease-in-out 0s;
  background-color: #f5f5f5;
}
.cart-quantity {
  font-weight: 300;
  border-top: 1px solid rgb(228, 228, 228);
  border-bottom: 1px solid rgb(228, 228, 228);
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.cart-quantity::-webkit-inner-spin-button,
.cart-quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.MuiSelect-select {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.tippy-box {
  font-size: 12px !important;
}
.tippy-content {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.user-avatar:hover .popup-user {
  display: block;
}
.order-admin,
.admin-user {
  .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root {
    color: #fff;
  }
  .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: #fff;
  }
}

.center-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-image:hover .product-action {
  display: flex;
}
.product-detail-page {
  .product-detail__name {
    font-size: 26px;
  }
  .product-detail__price {
    font-size: 20px;
    color: #000;
  }
}
.slick-slider {
  margin: 0 -8px;
}
.slick-list {
  & .slick-slide {
    padding: 0 8px;
  }
}
.slick-track {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.order-detail-page {
  .MuiFormControlLabel-label {
    font-size: 14px;
    color: #5f5f5f;
  }
}
nextjs-portal {
  display: none;
}
.chat-popup {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}
.search-control-icon:hover .search-control {
  display: block;
}
.search-control-icon::after {
  content: "";
  position: absolute;
  top: 25px;
  width: 232px;
  height: 18px;
  background: transparent;
  right: 0;
}
